<!DOCTYPEhtmlPUBLIC"-//W3C//DTDXHTML1.0Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><!--禁止浏览器从本地缓存中调阅页面。-->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head> <!-- 禁止浏览器从本地缓存中调阅页面。-->
        <meta http-equiv="pragram" content="no-cache"> <!--网页不保存在缓存中,每次访问都刷新页面。-->
        <meta http-equiv="cache-control" content="no-cache, must-revalidate"> <!--同上面意思差不多,必须重新加载页面-->
        <!--网页在缓存中的过期时间为0,一旦网页过期,必须从服务器上重新订阅-->
        <meta http-equiv="expires" content="0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
        <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            display: table;
            width: 100%;
            text-align: center;
        }

        body > * {
            display: table-row;
        }

        header {
            background-color: #0ac2d2;
            height: 50px;
        }

        footer {
            background-color: #ffd500;
            height: 50px;
        }

        </style>
    </head>
<body>

<header>header</header>
<div class="middle">middle</div>
<footer>footer</footer>

</body>
</html>