<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧定宽,右侧自适应布局</title>
    <style>
        div {
            height: 1000px;
            color: #fff;
        }

        .container {
            font-size: 0;
        }

        .left {
            display: inline-block;
            width: 200px;
            font-size: 16px;
            background-color: #0ac2d2;
        }
        .right {
            display: inline-block;
            font-size: 16px;
            width: calc(100% - 200px);
            background-color: #1b6d85;
        }
    </style>
</head>
<body>

<h2>方法4:inline-block+calc()</h2>

<div class="container">
    <div class="left">左侧定宽区域</div>
    <div class="right">右侧自适应宽度区域</div>
</div>

</body>
</html>