<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧定宽,右侧自适应布局</title>
    <style>
        div {
            height: 800px;
        }
        .left {
            width: 200px;
            float: left;
            background-color: #0ac2d2;
        }

        .right {
            margin-left: 200px;
            background-color: #1b6d85;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="left"></div>
        <div class="right"></div>
    </div>


</body>
</html>