<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧定宽,右侧自适应布局</title>
    <style>

        div {
            height: 600px;
        }
        .left {
            width: 200px;
            float: left;
            background-color: #0ac2d2;
        }

        .right {
            margin-left: 200px;
            background-color: #1b6d85;
        }
    </style>
</head>
<body>

    <h2>方法1:float+margin实现两栏布局</h2>

    <div class="container">
        <div class="left">左侧定宽区域</div>
        <div class="right">右侧自适应宽度区域</div>
    </div>


</body>
</html>