<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左右两侧定宽,中间自适应布局</title>
    <style>
        .container {
            width: 100%;
            height: 800px;
            display: flex;
            color: #fff;
        }

        .container div {
            height: 100%;
        }

        .left {
            flex: 0 0 200px;
            background-color: #0ac2d2;
        }

        .right {
            flex: 0 0 200px;
            background-color: #9C27B0;
        }

        .middle {
            flex: 1;
            background-color: #2b542c;
        }
    </style>
</head>
<body>

<h2>方法4: flex布局</h2>

<div class="container">
    <div class="left">左侧宽度固定区域</div>
    <div class="middle">中间自适应宽度区域</div>
    <div class="right">右侧宽度固定区域</div>
</div>

</body>
</html>